In [1]:
#pip install python-docx
#pip install docx
#pip install pyresparser

In [18]:


import os
from docx import Document
from pdfminer.layout import LAParams, LTTextBox

from pdfminer.pdfpage import PDFPage
from pdfminer.pdfinterp import PDFResourceManager
from pdfminer.pdfinterp import PDFPageInterpreter
from pdfminer.converter import TextConverter

import pandas as pd
import streamlit as st

import base64, random
import time, datetime

import io

In [19]:

from pyresparser import ResumeParser

In [20]:
import warnings
warnings.filterwarnings("ignore")

In [21]:
import en_core_web_sm

In [22]:
file = "E:\SampleResumes\Anish_Resume.pdf"

In [23]:
data = ResumeParser(file).get_extracted_data()

In [24]:
data

{'name': 'ANISH KUMAR PATEL',
 'email': 'patelanish081@gmail.com',
 'mobile_number': '9777024404',
 'skills': ['Programming',
  'Php',
  'Writing',
  'Visual',
  'Github',
  'Analysis',
  'Research',
  'Website',
  'Javascript',
  'Apis',
  'Js',
  'Python',
  'Email',
  'System',
  'Scheduling',
  'R',
  'Css',
  'Mysql',
  'Java',
  'Communication',
  'Technical',
  'Computer science',
  'Engineering',
  'Html'],
 'college_name': None,
 'degree': ['Bachelor of Technology in Computer Science and Engineering'],
 'designation': None,
 'experience': [],
 'company_names': None,
 'no_of_pages': 2,
 'total_experience': 0.0}

In [25]:
import pyresparser
dir(pyresparser)

['ResumeParser',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 'constants',
 'resume_parser',
 'utils']

In [26]:
#from pyresparser import resume_parser, ResumeParser
#dir(resume_parser)

In [27]:
#dir(ResumeParser)

In [28]:
skills = data["skills"]
skills

['Programming',
 'Php',
 'Writing',
 'Visual',
 'Github',
 'Analysis',
 'Research',
 'Website',
 'Javascript',
 'Apis',
 'Js',
 'Python',
 'Email',
 'System',
 'Scheduling',
 'R',
 'Css',
 'Mysql',
 'Java',
 'Communication',
 'Technical',
 'Computer science',
 'Engineering',
 'Html']

In [29]:
df_skills = pd.DataFrame(data,columns=["skills"])
df_skills

              skills
0        Programming
1                Php
2            Writing
3             Visual
4             Github
5           Analysis
6           Research
7            Website
8         Javascript
9               Apis
10                Js
11            Python
12             Email
13            System
14        Scheduling
15                 R
16               Css
17             Mysql
18              Java
19     Communication
20         Technical
21  Computer science
22       Engineering
23              Html

In [30]:
import spacy

In [32]:
print(spacy.__version__)

2.3.9